.navbar {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.030);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    position: sticky;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }
  
  .container {
    z-index: 1;
    width: 90%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
 
  .navbar-logo {
    color: #2FC283;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.2rem;
    padding-top: 5px;
    display: flex;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
  }

  .navbar-icon {
    margin-right: 0.5rem;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    
  }
 
  .nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
  }
  
  .nav-item:hover {
    border-bottom: 2px solid #28518F;
  }
  
  .nav-links {
    color: rgb(136, 136, 136);
    display: flex;
    font-size: 15px;
    align-items: center;
    text-decoration: none;
    padding: 1rem ;
    height: 100%;
  }
       
  .nav-links:hover {
    color: #28518F;
    transform: scale(1.2);

    font-weight: 500;
  }
  .fa-bars {
    color: #fff;
  }
  
  .menu-icon {
    display: none;
    color: #28518F;
  }
  
  .yellow{
    color: #F6BE04;
    text-decoration: none;
  }

  .btn-navbar{
    background-color: #28518F;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    color: white;
    margin-left: 60px;
    transition: 0.2s ease-in-out;
  }

  .btn-navbar:hover {
    background-color: #487AC6;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
    
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
 
    .nav-menu.active {
      padding-top: 30px;
      background: #fbfcfd;
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      display: table;
      padding-left: 0 ;
      font-size: 1.3rem;
    }
   
    .nav-links:hover {
      color: #28518F;
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
  
    .nav-item:hover {
      border: none;
    }
  
    .nav-item {
      width: 100%;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(40%, 20%);
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 120px;
    }

    .btn-navbar{
      background-color: #5a7db3;
      padding: 15px 40px;
      border-radius: 5px;
      border: none;
      color: white;
      margin-left: 20px;
    }
    
  }
